* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #D139CA;
}

body {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000;
  color: #fff;
}

.logo {
  background-color: var(--main-color);
  border-radius: 15px; 
  width: 50px;
}

.links {
  margin: 10px auto;
}

.link {
  height: 30px;
}

.navbar {
    background:transparent;
}

.content {
  padding: 20px;
  padding-bottom: 66px;
  overflow: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.quote {
  margin: 20px auto;
  color: #fff;
  width: 300px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote li {
  text-align: center;
  font-size: 25px;
}

.text {
  margin: 20px auto;
  width: 300px;
  text-align: left;
  font-family: 'Garamond', serif;
}

.profile-pic {
  margin: 0 auto;
  width: 250px;
}

.wide {
  width: 600px;
}

.picture-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-item {
  flex: 1;
  height: 100%;
}
